<html style="text-align:center; font-family: monaco;"><%=@player_2.name%> has lost 10% tunage!</html>

<p style="text-align:center; font-family: monaco; font-size: 75%">
<a href="/play">Sweet! Back to jamming!</a>
</p>
