<html>
  <body style="text-align:center; font-family: monaco; background-color: lightgrey;">
    <%=@game.opponent.name%> has lost 10% tunage!
    <p style="text-align:center; font-family: monaco; font-size: 75%">
      <form action="/swap-turn" method="post">
        <input type="submit" value="Sweet! Back to jamming!">
      </form>
    </p>
  </body>
</html>
