<h2 style="text-align:center; font-family: monaco;"> Let the jamming begin! </h2>
<p style="text-align:center; font-family: monaco;"> Choose the names of your famed musicians </p>
<form action="/names" method="post">
  <div style="text-align:center; font-family: monaco; font-size: 75%;">
  <label for="player_1">Player 1</label>
  <input type="text" name="player_1">
  <div>

  <div style="text-align:center; font-family: monaco;  font-size: 100%;">
  <label for="player_2">Player 2</label>
  <input type="text" name="player_2">
  </div>
  <p><input type="submit" value="Create Musicians"</p>
</form>
