<html style="text-align:center; font-family: monaco;"><%=@player_1%> and <%=@player_2%> are ready to jam!</html>
<p style="text-align:center; font-family: monaco;">
  <%=@player_2%> has 100% tunage!
</p>
